
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: linear-gradient(#182848f5, #4b6cb7);
    font-family: 'Roboto', Helvetica, sans-serif;
    
  }
  
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 40px 0;
  }
  

   .img-santinho {
    filter: blur(3px);
    display: flex;
    justify-content: center;
      
  }

  .santinho, .cabecalho {
    display: flex;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 200px 100px ;
      
  }

  .voto, .fnews {
    padding: 5rem;
    margin-top: 10rem;
    color: #e49052;
  }

  .titulo, .votacao{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
  }

  .presidente {
    margin-top: 250px;
  }

  .governador {
    margin-top: 350px;
  }

  .votacao {
    margin-top: 450px;
  }

  .cola {
    display: flex;
    justify-content: center;
      
  }

  .governador-cola, .presidente-cola{
    padding: 10px 15px 20px;
    color: #FFFFFF;
  }

  .redes-sociais {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Roboto', Helvetica, sans-serif;
  }

  .btn_social {
    margin-top: 350px;

  }

  .botao-social {
    margin: 0px 0px 300px 0px;
  }

  
.btn_social { 
  padding-top: 100px;
  width:100%; 
  float:left; 
  display:flex; 
  margin:auto; 
}
.btn_social ul  { 
  width:auto; 
  margin:auto; 
  float:left; 
  display:block; 
}
.btn_social ul li  { 
  position:relative; 
  background:#555555; 
  list-style:none; 
  float:left; 
  margin:5px; 
  z-index:1; 
  overflow:hidden; 
  border-radius:3px; 
  font-size:1.5em; 
  text-align:center; 
}
.btn_social ul li a  { 
  width:50px; 
  height:50px; 
  line-height:53px; 
  display:block; 
  text-decoration:none; 
  color:#fff; 
  transition:.4s;
}
.btn_social ul li::before { 
  transition:0.4s; 
  position:absolute; 
  content:''; 
  width:100%; 
  height:100%; 
  top:90%; 
  left:0; 
  background:#2fcacf; 
  z-index:-1; 
  transform: scale(1); 
  transition:.4s; 
}
.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#555555; }

.btn_social { 

	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}

.btn_social ul  { 

	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}

.btn_social ul li  { 

	position:relative; 
	background:#1d3455; /*aqui muda a cor do icone das midias sociais*/
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}

.btn_social ul li a  { 

	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; /* aqui muda a cor da fonte dentro do icone sociais*/
	transition:.4s;

}

.btn_social ul li::before { 

	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#00f7ff; /* aqui muda a cor do preenchimento de midias sociais*/
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}

.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#555555; }
